{% if site.comments.provider and page.comments %}
  {% case site.comments.provider %}
  {% when "disqus" %}
    {% include comments/comments-disqus.html %}
  {% when "discourse" %}
    {% include comments/comments-discourse.html %}
  {% when "facebook" %}
    {% include comments/comments-facebook.html %}
  {% when "google-plus" %}
    {% include comments/comments-google-plus.html %}
  {% when "staticman" %}
    {% include comments/comments-staticman.html %}
  {% when "custom" %}
    {% include comments/comments-custom.html %}
  {% endcase %}
{% endif %}