<a href="#0" class="cd-top">Top</a>

<script type="text/javascript">
const jsDisabledElts = document.getElementsByClassName("js-disabled");
while (jsDisabledElts.length > 0) jsDisabledElts[0].remove();
</script>

{% if site.data.assets_vendor.js %}
  {% for js in site.data.assets_vendor.js %}
    {% if js contains "html5shiv" or js contains "respond.src" %}
    <!--[if lt IE 9]>
    <script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
    <![endif]-->
    {% else %}
    <script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if site.data.assets_app.js %}
  {% for js in site.data.assets_app.js %}
    <script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
  {% endfor %}
{% endif %}

{% include analytics.html %}