{% include vars.html %}
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}
{% if page.app %}
  {% assign share-title = page.seo_title %}
{% else %}
  {% assign share-title = page.title %}
{% endif %}

{% if any-share-links %}
  <section id="social-share-section">
    {% if site.share-links-active.twitter %}
    <a target="_blank" href="https://twitter.com/intent/tweet?text={{ share-title | url_encode }}+{{ '#portapps' | url_encode }}+{{ page.url | prepend: var_seo_url | replace: '/index.html', '/' | replace: '//', '/' }}"
     class="btn btn-social-icon btn-twitter" title="Share on Twitter">
      <span class="fa fa-fw fa-twitter" aria-hidden="true"></span>
    </a>
    {% endif %}
    {% if site.share-links-active.reddit %}
    <a target="_blank" href="https://reddit.com/submit?url={{ page.url | prepend: var_seo_url | replace: '/index.html', '/' | replace: '//', '/' }}&title={{ share-title | url_encode }}"
       class="btn btn-social-icon btn-google" title="Share on Reddit">
      <span class="fa fa-fw fa-reddit-alien" aria-hidden="true"></span>
    </a>
    {% endif %}
    {% if site.share-links-active.facebook %}
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: var_seo_url | replace: '/index.html', '/' | replace: '//', '/' }}"
     class="btn btn-social-icon btn-facebook" title="Share on Facebook">
      <span class="fa fa-fw fa-facebook" aria-hidden="true"></span>
    </a>
    {% endif %}
    {% if site.share-links-active.linkedin %}
    <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: var_seo_url | replace: '/index.html', '/' | replace: '//', '/' }}"
     class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
      <span class="fa fa-fw fa-linkedin" aria-hidden="true"></span>
    </a>
    {% endif %}
  </section>
{% endif %}