# Jetbrains
/.idea
/*.iml

# Jekyll
/_asset_bundler_cache
/.bundle
/.sass-cache
/.jekyll-metadata
/tmp
/web

# Node
/node_modules
/npm-debug.log*
/yarn-error.log

# Custom
/.dev
/src/_data/assets*.json