# Jekyll
/_asset_bundler_cache
/.bundle
/.sass-cache
/.jekyll-metadata
/src/.jekyll-cache
/tmp
/web

# Dependency directories
node_modules/
jspm_packages/

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Ruby
/vendor

# Custom
/src/_data/assets*.json
