---
layout: default
---
{% include vars.html %}
{% include header.html type="post" %}

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post markdown-body">
        {% if app_logo %}
          <table><tr><td class="post-app-img"><img src="{{ app_logo }}"/></td><td>{{ content }}</td></tr></table>
          {% if app.trademark %}
          <p>
            <i>Portapps is not affiliated, associated, authorized, endorsed by, or in any way officially connected with {{ app.label }}, or any of its subsidiaries or its affiliates.</i>
            <i>The official {{ app.label }} website can be found at <a target="_blank" href="{{ app.homepage }}">{{ app.homepage }}</a>.</i>
            <i>The name {{ app.label }} as well as related names, marks, emblems and images are registered trademarks of their respective owners.</i>
          </p>
          {% endif %}
        {% else %}
          {{ content }}
        {% endif %}
      </article>

      <hr />
      {% if page.tags.size > 0 %}
        <div class="post-tags">
          Tags:
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <ul class="pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>

      {% if page.comments %}
        <div class="comments">
          {% include comments.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>