---
layout: default
title: Applications
permalink: /apps/
bigimg: /img/apps-big.jpg
markdown_body: ""
---

{% include vars.html %}
{% include header.html type="page" %}

<section class="cards-section cards-apps text-center">
  <div class="container">
    <p>The Portapps catalog contains a growing list of <strong>{{ site.data.app.size }} applications</strong>.</p>
    <div class="searchapp-wrapper row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="inner-addon right-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input id="searchapp" type="text" class="form-control" placeholder="Brave, Discord, OpenVPN..."/>
        </div>
      </div>
    </div>
    <div class="cards-wrapper row">{% assign applist = site.data.app | sort %}
      {% for app in applist %}<div class="item item-enable col-md-4 col-sm-8 col-xs-12" data-app="{{ app[1].name }}">
        <div class="item-inner">
          <div class="icon-holder">
            <img src="https://raw.githubusercontent.com/{{ app[1].github.user }}/{{ app[1].github.repo }}/master/res/papp.png"/>
          </div>
          <h3 class="title">{{ app[1].label }}</h3>
          <a class="link" href="{{ site.baseurl }}/app/{{ app[1].name }}-portable/"><span></span></a>
        </div>
      </div>{% endfor %}
    </div>
  </div>
</section>