{% strip %}
{% capture suffix %}.{{ include.format }}{% endcapture %}
{% if include.format == 'setup' %}
  {% capture suffix %}-setup.exe{% endcapture %}
{% endif %}
{% capture platform_version %}{{ include.platform }}-{{ include.version }}{% endcapture %}
{% if include.platform == '' %}
  {% capture platform_version %}{{ include.version }}{% endcapture %}
{% endif %}
{% capture filename %}{{ include.name }}-portable-{{ platform_version }}-{{ include.release }}{{ suffix }}{% endcapture %}
{% endstrip %}<a href="{{ site.baseurl }}/download/{{ filename }}">{{ filename }}</a>