img.app-discontinued {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.applogo-parent {
  position: relative;
  margin: auto;
  width: 128px;
  top: 0;
  left: 0;
}
.applogo-image {
  position: relative;
  top: 0;
  left: 0;
}
.applogo-discontinued {
  position: absolute;
  top: 0;
  left: 0;
}

.cat-tag {
  display: inline-block;
  padding: 0 .5rem;
  margin-left: .5rem;
  border-radius: 4px;
  color: #808080;
  font-size: 90%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out
}

.cat-tag:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .5em
}

.download-list .app-download-text {
  font-size: 150%;
}

.download-list .btn {
  padding: 10px 15px;
}