.error-404 h1 {
  text-decoration: none;
}

.error-404 h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.error-404 img {
  height: 320px;
}

@media only screen and (min-width: 768px) {
  .error-404 h1 {
    font-size: 63px;
  }

  .error-404 h2 {
    font-size: 32px;
  }
}