.progressbar {
  margin-bottom: 10px;
  width: calc(100% - 6px);
  height: 26px;
  background: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progressbar-fill {
  width: 0;
  display: block;
  height: 20px;
  background: #4078C0;
  border-radius: 3px;
  transition: width 2s ease-in-out;
}