{% strip %}
  {% capture current_doc %}{{ page.name | replace: '.html', '' | replace: '.md', '' }}{% endcapture %}
{% endstrip %}
<div class="sidebar-nav">
  <div class="sticky-nav">
    <p>Documentation</p>
    <ul class="sticky-nav__items" id="sticky-nav">
      <li class="sticky-nav__item">{% if current_doc == 'configuration' %}{% include fontawesome.html icon="caret-right" %}{% else %}{% include fontawesome.html icon="angle-right" %}{% endif %}&nbsp;&nbsp;<a class="nav-link" href="{{ site.baseurl }}/doc/configuration/">Configuration</a></li>
      <li class="sticky-nav__item">{% if current_doc == 'faq' %}{% include fontawesome.html icon="caret-right" %}{% else %}{% include fontawesome.html icon="angle-right" %}{% endif %}&nbsp;&nbsp;<a class="nav-link" href="{{ site.baseurl }}/doc/faq/">FAQ</a></li>
      <li class="sticky-nav__item">{% if current_doc == 'reporting-issue' %}{% include fontawesome.html icon="caret-right" %}{% else %}{% include fontawesome.html icon="angle-right" %}{% endif %}&nbsp;&nbsp;<a class="nav-link" href="{{ site.baseurl }}/doc/reporting-issue/">Reporting an issue</a></li>
      <li class="sticky-nav__item">{% if current_doc == 'request-app' %}{% include fontawesome.html icon="caret-right" %}{% else %}{% include fontawesome.html icon="angle-right" %}{% endif %}&nbsp;&nbsp;<a class="nav-link" href="{{ site.baseurl }}/doc/request-app/">Request an app</a></li>
      <li class="sticky-nav__item">{% if current_doc == 'contribute' %}{% include fontawesome.html icon="caret-right" %}{% else %}{% include fontawesome.html icon="angle-right" %}{% endif %}&nbsp;&nbsp;<a class="nav-link" href="{{ site.baseurl }}/doc/contribute/">Contribute</a></li>
      <li class="sticky-nav__item">{% if current_doc == 'donate' %}{% include fontawesome.html icon="caret-right" %}{% else %}{% include fontawesome.html icon="angle-right" %}{% endif %}&nbsp;&nbsp;<a class="nav-link" href="{{ site.baseurl }}/doc/donate/">Donate</a></li>
    </ul>
  </div>
</div>