name: website

on:
  workflow_dispatch:
  push:
    branches:
      - 'dev'
  pull_request:

env:
  JEKYLL_ENV: production

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build
        uses: docker/bake-action@v4
        with:
          targets: release
          set: |
            *.cache-from=type=gha,scope=website
            *.cache-to=type=gha,scope=website,mode=max
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Check GitHub Pages status
        if: github.event_name != 'pull_request'
        uses: crazy-max/ghaction-github-status@v4
        with:
          pages_threshold: major_outage
      -
        name: Deploy
        if: github.event_name != 'pull_request'
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: master
          build_dir: web
          fqdn: portapps.io
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
