name: website

on:
  pull_request:
    branches:
      - 'dev'
  push:
    branches:
      - 'dev'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 12
      -
        name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7.x
      -
        name: Set up gems cache
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      -
        name: Set up node_modules cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      -
        name: Set up Bundler
        run: |
          gem uninstall -aIx bundler
          gem install bundler -v 2.2.13
      -
        name: Yarn install
        run: |
          npm install -g yarn
          yarn install --frozen-lockfile
      -
        name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      -
        name: Build
        env:
          JEKYLL_ENV: production
          JEKYLL_LOG_LEVEL: info
          NOKOGIRI_USE_SYSTEM_LIBRARIES: true
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn build
      -
        name: Check GitHub Pages status
        uses: crazy-max/ghaction-github-status@v2
        with:
          pages_threshold: major_outage
      -
        name: Deploy
        if: success() && github.event_name != 'pull_request'
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: master
          build_dir: web
          fqdn: portapps.io
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
